
<header class="Titulo">
    <h1>Carta de solicitud</h1>
</header>
<br>
<h2>Informacion general</h2>
<hr>
<br>
<form class="form-group">
    <div class="row">   

        <div class="col-6">
            <mat-form-field>
                <input matInput placeholder="Título de la ponencia" type="text" name="Telefono" required/>
            </mat-form-field>
        </div>

        <br>
        
        <div class="col-6">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nombres">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Apellidos">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
    
        <br>
        
        <div class="col-6">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de entrega">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>   

        <br>

        <div class="col-6">
            <mat-form-field>
                <input matInput placeholder="Identificación" type="number" name="Identificación" required/>
            </mat-form-field>
        </div>
        
        <br>
        <div class="col-6">
            <mat-form-field>
                <mat-label>Vinculo Institucional:</mat-label>
                    <select matNativeControl required>
                        <option value="1">DC</option>
                        <option value="2">DP</option>
                        <option value="3">DO</option>
                        <option value="4">DK</option>
                        <option value="5">CJ</option>
                        <option value="6">EP</option>
                        <option value="7">AD</option>
                    </select>
            </mat-form-field>
        </div>
    
        <br>
        <div class="col-6">
            <mat-form-field>
                <input matInput placeholder="Teléfono Celular" type="number" name="Telefono" required/>
            </mat-form-field>
        </div>
        <br>
    
        <div class="col-6">
            <mat-form-field>
                <input matInput placeholder="Dirección Residencial" type="number" name="Telefono" required/>
            </mat-form-field>
        </div>
    
        <br>
    
        <div class="col-6">
            <mat-form-field>
                <input matInput placeholder="E-mail" type="text" name="Telefono" required/>
            </mat-form-field>
        </div>
    
        <br>
        <div class="col-6">
            <mat-form-field>
                <input matInput placeholder="Nombre del grupo" type="text" name="Telefono" required/>
            </mat-form-field>
        </div>
        
        
        <br>
    
        <div class="col-6">
                <mat-form-field>
                    <input matInput placeholder="Nombre del semillero" type="text" name="Telefono" required/>
                </mat-form-field>
            </div>

        
        <br>
    

        <div class="col-6">
                <mat-form-field>
                    <input matInput placeholder="Nombre del Programa al que pertenece" type="text" name="Telefono" required/>
                </mat-form-field>
            </div>
        
        <br>
    
            
    </div>    
</form>  
    <!-- </div> -->
<!-- </div>             -->