<app-nav-menu-acc></app-nav-menu-acc>

<div class = "borde">
    <div class = "agrupar">
<div *ngIf="docente"> 
    <div>
        <h1 class="h2">Detalle Docentes</h1>
    </div>
    <p>Editar/Eliminar Docentes</p>

    <br>
    
    <div class="form-group">
            <label>Id:
                {{docente.id}}
            </label>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field>
                <input matInput placeholder="Identificacion" name="Identificacion" [(ngModel)]="docente.identificacion" required/>
            </mat-form-field>
        </div>
        <br>
        <div class="col-6">
                <mat-form-field>
                    <input matInput placeholder="Nombre" name="Nombre" [(ngModel)]="docente.nombres" required/>
                </mat-form-field>
            </div>
            <br>
        
            <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Apellidos" name="Apellidos" [(ngModel)]="docente.apellidos" required/>
                    </mat-form-field>
                </div>
                <br>
                <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Telefono" name="Telefono" [(ngModel)]="docente.telefono" required/>
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="col-6">
                            <mat-form-field>
                                <input matInput placeholder="Vinculo institucional" name="vinculoIns" [(ngModel)]="docente.vinculoInst" required/>
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="col-6">
                                <mat-form-field>
                                    <input matInput placeholder="E-mail" name="Email" [(ngModel)]="docente.email" required/>
                                </mat-form-field>
                            </div>
                            <br>
                            <div class="col-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Direccion" name="Direccion" [(ngModel)]="docente.direccion" required/>
                                    </mat-form-field>
                                </div>
                                <br>
            </div>                     
    
    <div class="form-group">
        <button (click)="update()" class="btn btn-primary">Actualizar</button>
        <button (click)="delete()" class="btn btn-primary">Eliminar</button>
        <button routerLink = "/Carta_Originalidad/{{docente.id}}" class="btn btn-primary">generar carta</button>
    </div>
</div> 
</div>
</div>