
                <header class="Titulo">
                        <h1>Carta de solicitud</h1>
                    </header>
                    <br>
                    <h2>Informacion del evento</h2>
                    <hr>
                    <br>
                    <form class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Nombre del evento"
                                type="text"
                                name="evento" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                        
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Nombre de la entidad"
                                type="text"
                                name="entidad" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                        
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Link"
                                type="text"
                                name="Link" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                        
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Nacionalidad"
                                type="text"
                                name="Nacionalidad" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                        
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Pais"
                                type="text"
                                name="pais" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                            
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Ciudad"
                                type="text"
                                name="cuidad" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                        
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Dpto o estado"
                                type="text"
                                name="Departamento" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                        
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Telefono y/o celular"
                                type="text"
                                name="Telefono" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="E-mail"
                                type="text"
                                name="email" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="$0"
                                type="number"
                                name="CostoInscripcion" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                            
                            <div class="col-6">
                                    <mat-form-field>
                                        <mat-label>Tipo del transporte:</mat-label>
                                            <select matNativeControl required>
                                                    <option value="1">Aereo</option>
                                                    <option value="2">Terrestre</option>
                                            </select>
                                    </mat-form-field>
                                </div>
                            
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="$0"
                                type="number"
                                name="CostoTransporte" 
                                required
                            />    
                             </mat-form-field>       
                        </div>     
                        
 
                            <br>
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Fecha del evento"
                                type="date"
                                name="Telefono" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="fecha de inicio"
                                type="date"
                                name="inicio" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                            
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="fecha de Finalización"
                                type="date"
                                name="Finaliza" 
                                required
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Costo del transporte"
                                type="number"
                                name="CostoTransporte" 
                                required
                                />
                             </mat-form-field>       
                            </div>    

                    </div>
                    
                <br>

            </form>
                    
          
