<app-nav-menu></app-nav-menu>
<div class="borde">
    <div class="agrupar">
        <header class="Titulo">
            <h1>Formulario de Registro</h1>
        </header>
        <br>
        <form class="form-group">
            <div class="row">   
<!-- 
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Título (por ahora vin)" type="text"  [(ngModel)]="docente.VinculoInst" name = "vin"/>
                    </mat-form-field>
                </div>
                <br> -->
                
                <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Identificación" type="text" name="Identificación" [(ngModel)]="docente.id" required/>
                        </mat-form-field>
                    </div>
                
                <br>

                <div class="col-6">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput type = "text" placeholder="Nombres" [(ngModel)]="docente.Nombres" name = "Nombres"/>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput type = "text" placeholder="Apellidos"[(ngModel)]="docente.Apellidos" name = "Apellidos" />
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
            
                <br>

                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Vinculo Institucional:</mat-label>
                            <select matNativeControl name ="VinculoInst" [(ngModel)]="docente.VinculoInst" required>
                                <option value="DC">DC</option>
                                <option value="DC">DP</option>
                                <option value="DC">DO</option>
                                <option value="DC">DK</option>
                                <option value="DC">CJ</option>
                                <option value="DC">EP</option>
                                <option value="DC">AD</option>
                            </select>
                    </mat-form-field>
                </div>
            
                <br>
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Teléfono Celular" type="text" name="Telefono" [(ngModel)]="docente.Telefono" required/>
                    </mat-form-field>
                </div>
                <br>
            
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Dirección Residencial" type="text" name="direccion" [(ngModel)]="docente.direccion" required/>
                    </mat-form-field>
                </div>
            
                <br>
            
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="E-mail" type="text" name="Email" [(ngModel)]="docente.Email"required/>
                    </mat-form-field>
                </div>
            

                <!-- <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Usuario" type="text" name="Usuario" [(ngModel)]="docente.Usuario" required/>
                    </mat-form-field>
                </div> -->
                
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Pass" type="text" name="Pass" [(ngModel)]="docente.Pass" required/>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>programa</mat-label>
                        <mat-select [(ngModel)]="docente.facultadId" name="Facultad">
                          <mat-option *ngFor="let programa of programas" [value]="programa.facultadId">
                            {{programa.nombrePrograma}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <p> Selected food: {{docente.facultadId}} </p>
                </div>
                    {{docente.facultadId}}

                    <div class="col-6">
                            <mat-form-field>
                                <mat-label>Grupo de Investigación</mat-label>
                                <mat-select [(ngModel)]="docente.grupoInvestigacionId" name="grupoId">
                                  <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
                                    {{grupo.id}} {{grupo.nombreGrupo}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <p> Selected food: {{docente.grupoInvestigacionId}} </p>
                        </div>
            </div>    
            <div id = "Guardar">
                <button (click)="add()" class="btn btn-primary">Registrar</button>
            </div>
        </form>  
    </div> 
</div>
