<app-nav-menu></app-nav-menu>
<div class="borde">
    <div class="agrupar">
        <header class="Titulo">
            <h1>Formulario de Registro</h1>
        </header>
        <hr>
        <br>
        <form [formGroup]="formGroup">
            <div class="row">   
<!-- 
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Título (por ahora vin)" type="text"  [(ngModel)]="docente.VinculoInst" name = "vin"/>
                    </mat-form-field>
                </div>
                <br> -->
                
                <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Identificación" type="text" formControlName="Identificacion" [(ngModel)]="docente.id" required/>
                        </mat-form-field>
                    </div>
                
                <br>

                <div class="col-6">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput type = "text" placeholder="Nombres" [(ngModel)]="docente.Nombres" formControlName = "Nombres" required/>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput type = "text" placeholder="Apellidos"[(ngModel)]="docente.Apellidos" formControlName = "Apellidos" required/>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
            
                <br>

                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Vinculo Institucional:</mat-label>
                            <select matNativeControl formControlName ="VinculoInst" [(ngModel)]="docente.VinculoInst"  required>
                                <option value="DC">DC</option>
                                <option value="DC">DP</option>
                                <option value="DC">DO</option>
                                <option value="DC">DK</option>
                                <option value="DC">CJ</option>
                                <option value="DC">EP</option>
                                <option value="DC">AD</option>
                            </select>
                    </mat-form-field>
                </div>
            
                <br>
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Teléfono Celular" type="text" formControlName="Telefono" [(ngModel)]="docente.Telefono" required/>
                    </mat-form-field>
                </div>
                <br>
            
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Dirección Residencial" type="text" formControlName="direccion" [(ngModel)]="docente.direccion" required/>
                    </mat-form-field>
                </div>
            
                <br>
            
                <div class="col-6">
                        <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" [(ngModel)]="docente.Email" [formControl]="emailFormControl"
                                       [errorStateMatcher]="matcher">
                                <mat-hint>Errors appear instantly!</mat-hint>
                                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                  Email incorrecto
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                  Email requerido <strong>required</strong>
                                </mat-error>
                        </mat-form-field>
                </div>
            

                <!-- <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Usuario" type="text" name="Usuario" [(ngModel)]="docente.Usuario" required/>
                    </mat-form-field>
                </div> -->
                
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Pass" type="text" formControlName="Pass" [(ngModel)]="docente.Pass" required/>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>programa</mat-label>
                        <mat-select [(ngModel)]="docente.facultadId" formControlName ="Facultad"  required>
                          <mat-option *ngFor="let programa of programas" [value]="programa.facultadId">
                            {{programa.nombrePrograma}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                    <div class="col-6">
                            <mat-form-field>
                                <mat-label>Grupo de Investigación</mat-label>
                                <mat-select [(ngModel)]="docente.grupoInvestigacionId" formControlName="grupoId" required>
                                  <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
                                    {{grupo.id}} {{grupo.nombreGrupo}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
            </div> 
            <div id = "Guardar">
                    <button (click)="onSubmit()" class="btn btn-primary">Registrar</button>
                </div>
        </form>     

        
    </div> 
</div>
