/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
  /*background: #c8d6e5;*/
  background: #f1f5f5;
}

.agrupar{
  width: 860px;
  padding: 20px;
  background-color: white;
}

.borde{
  background-color: white;
  padding: 15px;
  width: 890px; /*ancho de la seccion*//*color---background-color: #EFEFEF;*/
  margin: auto;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  text-shadow: 1px 1px 1px rgba(225,225,225,0.9);
  
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media print
{    
    .no-print, h1, h2, .no-print *
    {
        display: none !important;
    }
}

/* ____________Navar___________________ */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


html {
  font-size: 14px;
}

.team-left-column {
  max-width: 350px;
}

#mr-nav {
  background-color: white;
  border-bottom: 4px solid #3dac4c;
  /* padding: 8px; */
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  text-shadow: 1px 1px 1px rgba(225,225,225,0.9);
}

#btnReg{
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px; 
  border: 2px solid #3dac4c;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}