<app-nav-menu-acc></app-nav-menu-acc>
<div class = "borde">
    <div class = "agrupar">
        <h1>Detalle de la solicitud</h1>
        <br>
        <div class = "row">
            <div class = "col-6">
                <h3>Informacion del Evento</h3>
                <br>
                <span>Nombre del Evento : </span>{{evento.NombreEvento}}<br>
                <span>Entidad : {{evento.Entidad}}</span><br>
                <span>Email : {{evento.Email}}</span><br>
                <span>LinkEvento : {{Evento.linkEvento}}</span><br>
                <span>Pais : {{evento.pais}}</span><br>
                <span>Ciudad : {{evento.ciudad}}</span><br>
                <span>Telefono : evento.Telefono</span><br>
                <span>Valor de la inscripción : {{evento.valorInscripcion}}</span><br>
                <span>Fecha del evento : {{evento.fechaEvento}}</span><br>
                <span>Fecha de Inicio : {{evento.fechaInicio}}</span><br>
                <span>Fecha Final : {{evento.FechaFinal}}</span><br>
                <span>Numero de dias : {{evento.numeroDias}}</span><br>
            </div>
            <div class = "col-6">
                <h3>Informacion del transporte</h3>
                <br>
                <span>Tipo de  transporte :</span><br>
                <span>Valor del transporte :</span><br>
                <br><br>
                <h3>Informacion de l gurpo de Investigacion</h3>
                <span>grupo de investigacion :</span>
            </div>
        </div>
    </div>
</div>
