<body>
    <app-nav-menu></app-nav-menu>
    <div class="container">
        <div class="form__top">
          <h2>soft<span>Ponencia</span></h2>
        </div>		
          <form class="form__reg" action="">
            <input class="input" type="text" placeholder="&#128100;  Usuario" name = "Usuario" [(ngModel)]="docente.Usuario" required autofocus>
                  <input class="input" type="password" placeholder="&#8962;  password" name = "Pass" [(ngModel)]="docente.Pass" required>
                  <div class="btn__form">
                    <input [routerLink]="['/Home']" class="btn__submit" type="submit" value="ACCEDER">
                    <input class="btn__reset" type="reset" value="LIMPIAR">	
                  </div>
          </form>
    </div>
  </body>