<p>consulta-docente works!</p>
<div>
    <h1 class="h2">List</h1>
    </div>
    <div>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <tr>
                        <th>Id</th>
                        <th>Identificación</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Telefono</th>
                        <th>Vinculo inst</th>
                        <th>Email</th>
                        <th>Direccion</th>
                        <th>Ver</th>
                    </tr>
                
            </thead>
            <tr *ngFor="let x of docentes">
               <td>{{x.id}}</td>
               <td>{{x.Identificacion}}</td>
               <td>{{x.Nombres}}</td>
               <td>{{x.Apellidos}}</td>
               <td>{{x.Telefono}}</td>
               <td>{{x.Vinculo}}</td>
               <td>{{x.Email}}</td>
               <td>{{x.Direccion}}</td>
               <td><a routerLink="/docenteEdit/{{x.id}}">
                ver
               </a></td>
            </tr>
        </table>
    </div>