<p>consulta-docente works!</p>
<div class = "agrupar">
<div class = "borde">
<div>
    <h1 class="h2">List</h1>
    </div>
    <div>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <tr>
                        <th>Id</th>
                        <th>Identificación</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Telefono</th>
                        <th>Vinculo inst</th>
                        <th>Email</th>
                        <th>Direccion</th>
                        <th>Ver</th>
                    </tr>
                
            </thead>
            <tr *ngFor="let docente of docentes">
               <td>{{docente.id}}</td>
               <td>{{docente.Identificacion}}</td>
               <td>{{docente.Nombres}}</td>
               <td>{{docente.Apellidos}}</td>
               <td>{{docente.Telefono}}</td>
               <td>{{docente.Vinculo}}</td>
               <td>{{docente.Email}}</td>
               <td>{{docente.Direccion}}</td>
               <td><a routerLink="/docenteEdit/{{docente.id}}">
                ver
               </a></td>
            </tr>
        </table>
    </div>
</div>
</div>