<header class="header border-bottom box-shadow mb-3">
    <nav 
      id = "mr-nav"
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white "
    >
      <div class="container">
          <a aria-label="Página de inicio" id="snap-home" title="Universidad Popular del Cesar" class="logo" [routerLink]="['/']">
            <img src=".\assets\logo (1).png" alt=""><span class="sr-only">Universidad Popular del Cesar</span>
          </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          [ngClass]="{ show: isExpanded }"
        >
          
          <ul class="navbar-nav flex-grow">
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link text-dark" [routerLink]="['/Home']">Inicio</a>
                </li>
            <li id = "btnReg"class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" (click)="reset()" [routerLink]="['/']"
                >Salir</a
              >
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </header>
