
<header class="Titulo">
  <h1>Carta de solicitud</h1>
</header>

  <br>
  <h2>Informacion de anexos</h2>
  <br><br>
  
  <form class="form-group">
      <div class="row">
          
          <div class="col-6">
              <p>
                  Articulo completo con resultados sobre el cual se sustenta la ponencia a presentar. Entregar
                  en medio físico y magnético enviar al correo ( ponenciasdeinvestigacion@unicesar.edu.co ):
              </p>
              <label for="file-upload" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Subir archivo
              </label>
              <input id="file-upload" type="file"/>
          </div>
      <br><br>
      <div class="col-6">
          <p>
              El artículo debe contener citas Bibliográficas:
          </p>

              <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Subir archivo
          </label>
          <input id="file-upload" type="file"/>
      </div>
      
      <br><br>
      <div class="col-6">
          <p>
              Carta de aceptación de la ponencia:
          </p>
          
              <label for="file-upload" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Subir archivo
          </label>
          <input id="file-upload" type="file"/>
      </div>
      <br><br>
      <div class="col-6">
          <p>
              Documento informativo en donde indique el valor del transporte Aéreo o terrestre:
          </p>
              
          <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Subir archivo
          </label>
          <input id="file-upload" type="file"/>
      </div>
      <br><br>
      <div class="col-6">
          <p>
              Documento del evento en donde indique el valor de la inscripción:
          </p>
              
          <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Subir archivo
          </label>
          <input id="file-upload" type="file"/>
      </div>
      <br><br>
      <div class="col-6">
          <p>
                  Cotización de hospedaje y manutención (Solo para estudiantes miembros de Semilleros de Investigación):
          </p>
          <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Subir archivo
          </label>
          <input id="file-upload" type="file"/>
      </div>
      <br><br>
      
      <div class="col-6">
          <p>
              Anexar información del evento y/o de la página web Afiche, resumen de la convocatoria y
              cronograma del evento.
          <p>

          <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Subir archivo
          </label>
          <input id="file-upload" type="file"/>
      </div>
      <br><br>
      <div class="col-6">
          <p>
              Diligenciar formato de originalidad de libro, artículo y/o proyecto.
          <p>
          <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Subir archivo
          </label>
          <input id="file-upload" type="file"/>
      </div>
      <br><br>
      <div class="col-6">
          <p>
              Diligenciar formato de cesión de derechos patrimoniales de autor.<p>

          <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Subir archivo
          </label>
          <input id="file-upload" type="file"/>
      </div>

          <br><br>
  </div>  
</form> 