<app-nav-menu-acc></app-nav-menu-acc>

<div class="borde">
    <div class="agrupar">
        <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" >
                    <ng-template matStepLabel>Informacion general</ng-template>
                    
                    <!-- solicitud de ponecias -->
                    <!-- <app-carta-solicitud-general></app-carta-solicitud-general> -->
                    <header class="Titulo">
                        <h1>Solicitud de ponencia</h1>
                    </header>
                    <br>
                    <h2>Informacion general</h2>
                    <hr>
                    <br>
                    <div class="row"> 

                        <div class="col-6">
                            <mat-form-field>
                                <input matInput placeholder="Nombre de La ponencia" 
                                    type="text" formControlName="nombrePonencia" 
                                    [(ngModel)]="solicitud.NombrePonencia" 
                                    required
                                />
                            </mat-form-field>
                        </div>
                    
                        <div class="col-6">
                            <mat-form-field>
                                <input matInput placeholder="Nombre del semillero" 
                                    type="text" formControlName="nomSemillero" 
                                    [(ngModel)]="semillero.NombreSemillero" 
                                    required
                                />
                            </mat-form-field>
                        </div>

                        <div class="col-6">
                            <mat-form-field>
                                <input matInput placeholder="Nombre de la investigacion"
                                    formControlName="nombreInvestigacion" 
                                    type="text" 
                                    [(ngModel)]="investigacion.NombreInvestigacion" 
                                    required
                                />
                            </mat-form-field>
                        </div>
                </div>
                <br>
                <h5>(opcional)</h5>
                <div class="row">
                    <div class="col-6">
                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nombres del estudiante" type="text" 
                                        formControlName="NombreEstudiante" [(ngModel)]="estudiante.NombreEstudiante"/>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Apellidos del estudiante" type="text" formControlName="ApellidoEstudiante" [(ngModel)]="estudiante.ApellidoEstudiante">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                </form>
                <div class="container">
                        <div class="row">
                            <div class="ml-auto">
                                <div class="ml-auto">
                                    <button class="btn btn-info" mat-button  matStepperNext>Siguiente</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </mat-step> 
            
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Informacion del evento</ng-template>

                    <!-- Infromacion del evento -->
                    <!-- <app-infromacion-evento></app-infromacion-evento> -->

                    <header class="Titulo">
                        <h1>Solicitud de ponencia</h1>
                    </header>
                    <br>
                    <h2>Informacion del evento</h2>
                    <hr>
                    <br>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Nombre del evento"
                                type="text"
                                formControlName="evento" 
                                required
                                [(ngModel)]="evento.NombreEvento"
                                />
                             </mat-form-field>       
                            </div>    
                            <br>
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Nombre de la entidad"
                                type="text"
                                formControlName="entidad" 
                                required
                                [(ngModel)]="evento.entidad"
                                />
                             </mat-form-field>       
                            </div>    

                            <br>
        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Link"
                                type="text"
                                formControlName="Link" 
                                required
                                [(ngModel)]="evento.LinkEvento"
                                />
                             </mat-form-field>       
                            </div>    
                        
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Pais"
                                type="text"
                                formControlName="pais" 
                                required
                                [(ngModel)]="evento.Pais"
                                />
                             </mat-form-field>       
                            </div>    
                            
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Ciudad"
                                type="text"
                                formControlName="cuidad" 
                                required
                                [(ngModel)]="evento.Ciudad"
                                />
                             </mat-form-field>       
                            </div>    
 
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Telefono y/o celular"
                                type="text"
                                formControlName="Telefono" 
                                required
                                [(ngModel)]="evento.Telefono"
                                />
                             </mat-form-field>       
                            </div>    
                        
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="E-mail"
                                type="text"
                                formControlName="email" 
                                required
                                [(ngModel)]="evento.Email"
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="costo de la inscripcion"
                                type="number"
                                formControlName="CostoInscripcion" 
                                required
                                [(ngModel)]="evento.ValorInscripcion"
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Tipo de transporte:</mat-label>
                                        <select matNativeControl formControlName = "TipoTransporte" [(ngModel)]="transporte.TipoTransporte" required>
                                            <option value="Aereo">Aereo</option>
                                            <option value="Terrestre">Terrestre</option>
                                        </select>
                                </mat-form-field>
                            </div>                            
                            <br>
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Costo del transporte"
                                type="number"
                                step="1"
                                formControlName="CostoTransporte" 
                                required
                                [(ngModel)]="transporte.ValorTrasporte"
                                />
                             </mat-form-field>       
                            </div> 
 
                            <br>
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="Fecha del evento"
                                type="date"
                                formControlName="FechaEvento" 
                                required
                                [(ngModel)]="evento.FechaEvento"
                                />
                             </mat-form-field>       
                            </div>    
                           
                            
                            <br>
                        
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="fecha de inicio"
                                type="date"
                                formControlName="inicio" 
                                required
                                [(ngModel)]="evento.FechaInicio"
                                />
                             </mat-form-field>       
                            </div>    
                            
                            <br>
                            
                            <div class="col-6">
                                <mat-form-field>
                                <input matInput 
                                placeholder="fecha de Finalización"
                                type="date"
                                formControlName="Finaliza" 
                                required
                                [(ngModel)]="evento.FechaFinal"
                                />
                             </mat-form-field>       
                            </div>    
                    </div>

                        <div id = "Guardar">
                            <button (click)="onSubmit()" class="btn btn-primary">Guardar</button>
                        </div>
                        
                        <!-- Fin Evento -->

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                        <button class="btn btn-info" mat-button matStepperPrevious>Anterior</button>
                                </div>
                                <div class="ml-auto">
                                    <div class="ml-auto">
                                            <button class="btn btn-info" mat-button matStepperNext>Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Anexos</ng-template>
                <!-- Anexos -->
                <app-anexos></app-anexos>
                
                <button class="btn btn-info"  mat-button matStepperPrevious>Anterior</button>
            </mat-step>    
        </mat-horizontal-stepper>
    </div>    
</div>

