<app-nav-menu-acc></app-nav-menu-acc>
<div class = "borde">
    <div class = "agrupar">
        <h1>Detalle de la solicitud</h1>
        <br>
        <div class = "row">

            <div class="col-6">
                <h3>Información del docente</h3>
                <hr>
                <span>Identificación : </span>{{docente.id}} <br>
                <span>Nombre del Docente : </span>{{docente.nombres}} <br>
                <span>Apellidos : </span>{{docente.apellidos}} <br>
                <span>Teléfono : </span>{{docente.telefono}} <br>
                <span>Vinculo Institucional : </span>{{docente.vinculoInst}} <br>
                <span>Email : </span>{{docente.email}} <br>
                <span>Dirección : </span>{{docente.direccion}}
            </div>

            <div class="col-6">
                <h3>Información de la ponencia</h3>
                <hr>
                <span>Nombre de la Ponencia : </span>{{solicitud.nombrePonencia}}<br>
                <span>Fecha de relización : </span>{{solicitud.fechaEntrega}}<br>
                <span>Estado de la solicitud : </span>{{solicitud.estadoSolicitud}}
            </div>

            <div class = "col-6">
                <h3>Información del Evento</h3>
                <hr>
                <span>Nombre del Evento : </span>{{evento.nombreEvento}}<br>
                <span>Entidad : </span>{{evento.entidad}}<br>
                <span>Email : </span>{{evento.email}}<br>
                <span>LinkEvento : </span>{{evento.linkEvento}}<br>
                <span>Pais : </span>{{evento.pais}}<br>
                <span>Ciudad : </span>{{evento.ciudad}}<br>
                <span>Teléfono : </span>{{evento.telefono}}<br>
                <span>Valor de la inscripción : </span>{{evento.valorInscripcion}}<br>
                <span>Fecha del evento : </span>{{evento.fechaEvento}}<br>
                <span>Fecha de Inicio : </span>{{evento.fechaInicio}}<br>
                <span>Fecha Final : </span>{{evento.fechaFinal}}<br>
                <span>Número de dias : </span>{{evento.numeroDias}}<br>
            </div>
            <div class = "col-6">
                <h3>Información del transporte</h3>
                <hr>
                <span>Tipo de  transporte : </span>{{transporte.tipoTransporte}}<br>
                <span>Valor del transporte : </span>{{transporte.valorTrasporte}}<br>

                <h3>Información del gurpo de Investigación</h3>
                <hr>
                <span>grupo de investigación : </span>{{grupoInvestigacion.nombreGrupo}}

                <h3>Información del semillero</h3>
                    <hr>
                    <span>Nombre del semillero : </span>{{semillero.nombreSemillero}}<br>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button routerLink="/cartas"  class="btn btn-primary">Consultar Cartas</button>
            </div>
            <div>
                    <button class="btn btn-primary" (click)="notificar()">Notificar</button>
            </div>
        </div>
    </div>

</div>

