<app-nav-menu-acc></app-nav-menu-acc>

<div class="bord">
        <div class="agrupa">
            <div class="container">
                <h3>Sistema de socializacion de invesigacion por ponencias</h3>
                <div class="cont">
                    <img src="./assets/logo-universidad-popular-del-cesar.png" alt="Logo" >
                </div>
                <h5>Objetivos: </h5>
                <ul>
                    <li>Fortalecer los procesos de investigación en la Universidad Popular del Cesar</li>
                    <li>Estimular el desarrollo de la cultura de socialización de proyectos y procesos de
                        investigación en los grupos, semilleros de Investigación, estudiantes y docentes
                    </li>
                    <li>Facilitar el dialogo, la interacción, la construcción y socialización entre las redes del
                        conocimiento disciplinares e interdisciplinares entre la comunidad académica
                        participante en el evento.
                    </li>
                    <li>
                            Fomentar la integración de los grupos, semilleros de investigación, docentes, egresados
                            y estudiantes en lo regional, lo nacional e internacional, alrededor de la ciencia, la
                            tecnología e innovación.
                    </li>
                </ul>
            </div>
        </div>
      </div>

<aside class="team-left-column col-12 col-md-4 col-lg-3 bg-white " aria-label="Account">
    <div class="dashboard-sidebar top-0 px-3 px-md-4 px-lg-4 overflow-auto is-placeholder" style="visibility: hidden; display: none; height: 364px;"></div><div class="dashboard-sidebar js-sticky top-0 px-3 px-md-4 px-lg-4 overflow-auto" style="position: static; width: auto; height: 593px; top: 0px; left: 0px;">
        <div class="mb-3 Details js-repos-container mt-5" data-repository-hovercards-enabled="" data-pjax-container="" role="navigation" aria-label="Repositories">
            <div class="container">
                <h4>Realizar acciones</h4>   
                <div class="ul"> 
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item"><a routerLink = "/Solicitud">Formulario de solicitud</a></li>
                        <li class="list-group-item"><a routerLink = "/Consultar_solicitud">Consultar Solicitud</a></li>
                        <li class="list-group-item"><a routerLink = "/docenteEdit">Informacion personal</a></li>
                    </ul>
                </div>
                <br>
                <h4>Opciones de administrador</h4>
                <div class="ul">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink = "/Docente">Consulta de Docente</a></li>
                        <li class="list-group-item"><a routerLink = "/Evento">Consulta de Evento</a></li>
                        <li class="list-group-item"><a routerLink = "/Facultad">Registrar Facultad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>

