a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#mr-nav {
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  text-shadow: 1px 1px 1px rgba(225,225,225,0.9);
  border: 0px solid #000000;
  background-color: white;
  border-bottom: 4px solid #3dac4c;
  padding: 18px;
}

#btnReg{
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px; 
  border: 2px solid #3dac4c;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

